/* Importa una fuente de google */
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

/* Reinicio de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
}

/* Configuración global */
html {
  background-color: #000000;
  scroll-behavior: smooth;
}

/* Tipografía general */
.font,
form .submit-button,
.top {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilo del encabezado */
header {
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: #ff4500;
  color: #ffffff;
  border: #000000 2px solid;
  box-shadow: 0 0 10px #ff4400a9;
  border-radius: 20px;
}

/* Navegación */
.navigator {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px;
}

/* Sección de ejemplos */
.examples {
  text-align: center;
  margin: 20px;
}

/* Enlaces */
.link {
  color: #000000;
  text-decoration: none;
}

.link:visited {
  color: #000000;
}

.link:hover {
  color: #ffffff;
}

/* Botón para volver arriba */
.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff4500;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.top:hover {
  background-color: #ff4500;
  box-shadow: 0 0 10px #ff4400a9;
}

/* Lista de imágenes */
.images-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images {
  margin: 20px;
}

.images img {
  max-width: 250px;
  height: 250px;
  border: 2px #ff4500 solid;
  border-radius: 20px;
}

/* Contenedor de tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Título del menú */
.title-menu {
  margin: 10px auto;
  padding: 5px;
  width: 200px;
  text-align: center;
  background-color: #ff4500;
  color: #ffffff;
  border: #000000 2px solid;
  box-shadow: 0 0 10px #ff4400a9;
  border-radius: 20px;
}

/* Elemento destacado */
.highlighted {
  border: 5px solid #ff4500;
  box-shadow: 0 0 10px #ff4400a9;
  background-color: #fff7e6;
  transform: scale(1.02);
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlighted:hover {
  transform: scale(1.1);
  z-index: 20;
  box-shadow: 0 0 30px #ff4400c9;
}

/* Estilo para cada tarjeta */
.card {
  margin: 10px;
  padding: 10px;
  width: calc(40% - 20px);
  list-style: none;
  background-color: #ff4500;
  color: #ffffff;
  border: #000000 2px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

.icon img {
  width: 60px;
  margin: 5px;
}

/* Sección de pedidos */
.order {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #ff4500;
  color: #ffffff;
  border: #000000 2px solid;
  box-shadow: 0 0 10px #ff4400a9;
  border-radius: 20px;
  width: 200px;
}

.order textarea,
.order input {
  resize: none;
  border-radius: 10px;
}

.order input {
  text-align: center;
  margin: 5px;
}

.order .submit-button {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: #000000 2px solid;
}

.order h3,
.submit-button {
  margin: 10px;
}

/* Opciones de gustos */
.flavors {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 10px;
}

.flavors li {
  margin-bottom: 5px;
}

.flavors label,
.order .submit-button {
  cursor: pointer;
}

/* Estilo del pie de página */
.footer {
  background-color: #f4f4f4;
}

.contact {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  line-height: 40px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

/* Formulario de contacto */
.form input[type="text"],
.form input[type="email"],
.form textarea {
  display: block;
  margin-bottom: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

.social {
  padding: 10px 5px;
}

.social a,
.social p {
  margin: 5px;
  text-decoration: none;
}

.social i {
  margin-right: 2px;
}

.social a,
.social a:visited {
  color: #ff4500;
}

.social a:hover {
  color: #808080;
}

/* Botón de enviar del formulario */
.form .submit-button {
  width: 300px;
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form .submit-button:hover,
.order .submit-button:hover {
  background-color: #808080;
}

/* Estilo responsivo para dispositivos móviles */
@media (max-width: 627px) {
  .card {
    width: 100%;
  }
}
